.main__container {
	margin: 0 auto;
	max-width: 75%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: flex-start;
	justify-content: space-between;
}

.movies {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media (max-width: 1034px) {
	.main__container {
		flex-wrap: nowrap;
	}
	.movies {
		width: 95%;
		margin: 0px auto;
	}
}

@media (max-width: 634px) {
	.main__container {
		flex-wrap: wrap;
	}
}
