.main__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: flex-start;
	justify-content: center;
}

.movies:not(.movies-form) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 5rem;
}

@media (max-width: 1034px) {
	.movies:not(.movies-form) {
		padding: 0 1rem 1rem;
		margin-left: 0 auto;
	}
}
