.singleItem {
	margin: 2rem auto;
	display: flex;
	max-width: 800px;
	font-family: var(--primary-font);
}

.singleItem__image {
	height: 300px;
	object-fit: contain;
	margin: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 10px;
}

.singleItem__details {
	height: 300px;
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--secondary-color);
}

.details__title,
.details__price {
	font-size: 1.2rem;
	font-weight: bold;
}
.details__lang {
	font-size: 0.8rem;
	font-weight: 300;
}

.details__release {
	font-size: 0.8rem;
	font-weight: 500;
}

.details__description {
	font-size: 0.9rem;
}

.details__addBtn {
	width: 10rem;
	padding: 10px 17px;
	background: var(--secondary-color);
	color: var(--light-color);
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	margin: 0px;
	margin-bottom: -16px;
}

.details__addBtn:hover {
	opacity: 0.75;
}

@media (max-width: 634px) {
	.singleItem {
		margin: 2rem auto;
		flex-direction: column;
	}
	.singleItem__image {
		margin: 1rem;
		object-fit: cover;
	}

	.details__addBtn {
		width: fit-content;
		font-size: 14px;
		padding: 10px 17px;
		margin-bottom: 0px;
	}
	.singleItem__details {
		height: fit-content;
		margin: 20px;
	}
	.details__title,
	.details__price,
	.details__lang,
	.details__release,
	.details__description {
		margin-bottom: 1rem;
	}
}
