.tvshow {
	width: 60vw;
	min-width: 500px;
	margin-bottom: 1rem;
	height: 150px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	font-family: var(--primary-font);
	padding: 0;
	overflow: hidden;
}
