.button--container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	margin: 0 auto;
	/* min-width: 500px; */
}

button {
	margin: 30px 15px;
	padding: 10px 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	font-size: 0.95rem;
	font-weight: 700;
	border: none;
	border-radius: 0.4rem;
	background-color: rgba(16, 16, 73, 0.863);
	outline: none;
	color: rgb(235, 235, 235);
	cursor: pointer;
}

button:hover {
	background-color: var(--secondary-color);
	color: white;
}

button:focus {
	opacity: 0.95;
}

.uil-film::before,
.uil-tv-retro::before,
.uil-ticket::before {
	height: 10px;
	font-size: 19px;
	margin-left: 9px;
	margin-top: -90px;
}

.uil-film,
.uil-tv-retro,
.uil-ticket {
	margin-top: -3px;
}
