.navbar {
	z-index: 1;
	font-family: var(--primary-font);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem;
	background: white;
	position: sticky;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.navbar__logo {
	font-size: 2rem;
	margin-left: 30px;
	font-weight: bold;
	color: rgb(80, 80, 80);
}

.navbar__cart {
	background: rgb(224, 224, 224);
	width: 160px;
	border: none;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
	margin-right: 30px;
}

.navbar__cart:hover {
	opacity: 0.75;
}

.cart__title {
	font-size: 26px;
	font-weight: 500;
	color: var(--dark-color);
	margin-left: 4px;
}

.cart__image {
	font-size: 1.7rem;
	object-fit: contain;
	margin-right: -20px;
	color: var(--primary-color);
}

.cart__counter {
	height: 30px;
	width: 30px;
	/* border: 1px solid var(--secondary-color); */
	border-radius: 50%;
	color: var(--dark-color);
	background: rgb(255, 249, 249);
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 500px) {
	.navbar__logo {
		font-size: 1.7rem;
		margin-left: 15px;
	}
	.navbar__cart {
		margin-top: 10px;
		margin-left: 15px;
	}
	.cart__title {
		font-size: 20px;
	}
}
