.Filters {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	width: 15%;
	min-width: 200px;
	padding: 12px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: white;
	margin-top: 0.6rem;
	border-radius: 0.3rem;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 130px;
}

.FilterBtn {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: fit-content;
	color: black;
	background-color: aliceblue;
	border: 1px solid rgba(109, 128, 146, 0.15);
	font-size: 0.6rem;
	padding: 0.5rem 1rem;
	font-weight: 100;
	margin: 2px 3px;
}

.date-filter {
	margin-top: 20px;
	padding: 10px 0px;
	border-top: 0.5px solid rgb(165, 165, 165);
}

.label {
	font-size: 0.7rem;
	color: rgba(0, 0, 0, 0.6);
}

.calendar-input {
	display: inline-block;
	margin-left: 20px;
	width: 120px;
	font-size: 0.6rem;
	color: rgba(0, 0, 0, 0.4);
	padding: 0px 4px 0px 4px;
}

.calendar {
	margin: 10px 0px 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-by-date {
	padding: 7px;
	margin: 10px 0px 0px;
	width: 100%;
}
.Upcoming {
	border-top: 0.5px solid rgb(165, 165, 165);
	padding-top: 18px;
	margin-top: 10px;
	width: 100%;
}

.active {
	color: white;
	background-color: rgb(10, 39, 65);
}

.filter-by-date {
	color: rgb(235, 244, 252);
	background-color: rgb(10, 39, 65);
}

@media (max-width: 634px) {
	.Filters {
		width: 95%;
		margin: 0px auto;
		margin-bottom: 20px;
		position: inherit;
	}
	.date-filter {
		display: block;
		width: 100%;
	}
}
